In [8]:
import pandas as pd

# Преобразование даты и работа с элементами даты

In [9]:
df = pd.DataFrame (
    {
        "name": ["Объект1", "Объект2", "Объект3"],
        "myStrDate": ["2022-09-01",   "2022-09-02",     "2022-09-03"],
    }
 )

df

      name   myStrDate
0  Объект1  2022-09-01
1  Объект2  2022-09-02
2  Объект3  2022-09-03

In [10]:
df["myStrDate"] # получить столбец. Тип данных результата - object (строковый/смешанный)

0    2022-09-01
1    2022-09-02
2    2022-09-03
Name: myStrDate, dtype: object

In [11]:
#https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
pd.to_datetime(df["myStrDate"],  format='%Y-%m-%d')  # Передать зачения столбеца в функцию преобразования к типу Дата/время. Тип данных - datetime64[ns]

0   2022-09-01
1   2022-09-02
2   2022-09-03
Name: myStrDate, dtype: datetime64[ns]

In [12]:
df["parsedDate"] = pd.to_datetime(df["myStrDate"],  format='%Y-%m-%d', ) # результат добавить в исх. таблицу новым столбцом

In [13]:
df

      name   myStrDate parsedDate
0  Объект1  2022-09-01 2022-09-01
1  Объект2  2022-09-02 2022-09-02
2  Объект3  2022-09-03 2022-09-03

In [15]:
df["parsedDate"].dt.dayofweek # номер дня недели
df["parsedDate"].dt.day   # номер дня в месяце
df["parsedDate"].dt.month # номер месяца в году
df["parsedDate"].dt.week # номер недели в году
df["parsedDate"].dt.year # год

AttributeError: 'DatetimeProperties' object has no attribute 'week'

In [16]:
df['NewColumns_dayofweek'] = df["parsedDate"].dt.dayofweek # номер дня недели
df

      name   myStrDate parsedDate  NewColumns_dayofweek
0  Объект1  2022-09-01 2022-09-01                     3
1  Объект2  2022-09-02 2022-09-02                     4
2  Объект3  2022-09-03 2022-09-03                     5

# Замена значений (mapping)

In [ ]:
df = pd.DataFrame (
    {
        "name": ["Объект1", "Объект2", "Объект3", "Объект4"],
        "NameDayOfWeek": ["Понедельник",   "Вторник",   "Среда",  "Понедельник"],
    }
 )

df

In [ ]:
df["NameDayOfWeek"] # получить столбец. Тип данных результата - object (строковый/смешанный)

In [ ]:
df["NameDayOfWeek"].nunique() # получить количество уникальных значений в столбце

In [ ]:
df["NameDayOfWeek"].unique() # получить множество уникальных значений в столбце

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html
# применить карту соотвествий имеющихся и новых значений. Тип данных результата - object (строковый/смешанный)
df['NameDayOfWeek'].map(
  {
    "Понедельник": 'Monday',
    "Вторник": 'Tuesday',
    "Среда": 'Wednesday',
  }
)

In [ ]:
# применить карту соотвествий имеющихся и новых значений. Тип данных результата - int64 (целочисленный)
df['NameDayOfWeek'].map(
  {
    "Понедельник": 1,
    "Вторник": 2,
    "Среда": 3,
  }
)

In [ ]:
# результат добавить в исх. таблицу новым столбцом
df["NumberDayOfWeek"] = df['NameDayOfWeek'].map(
  {
    "Понедельник": 1,
    "Вторник": 2,
    "Среда": 3,
  }
)
df

# Фильтация значений

In [ ]:
N = 8
df = pd.DataFrame({
  'Integer_col': range(100, 100+N),
  'Str_col': [chr(97 + i) for i in range(N)],
  'isYes_col': ['yes', 'no']* (N//2),
 })
df

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html
df.query('Integer_col>102  &  isYes_col=="yes"')